
@{
    ViewData["Title"] = "Blog";
}


<section class="page-title">
    <div class="background-container">
        <img class="left-image" src="https://themeim.com/demo/carsore/images/background/header-left-bg.png" alt="" />
        <img class="right-image" class="right-image" src="~/Home/images/background/7.jpg" alt="" />
    </div>
    <div class="service-container">
        <div class="section-icons-outer parallax-scene-1">
            <div data-depth="0.20" class="pattern-layer" style="background-image: url(./Home/images/background/pattern-8.png)">
            </div>
        </div>

        <div class="auto-container">
            <h1>Blog</h1>
            <ul class="page-breadcrumb">
                <li><a href="index.html">home</a></li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->
<!-- Blog Page Section -->
<section class="blog-page-section">
    <div class="auto-container">
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-2">
                <div data-depth="0.20" class="icon-layer" style="background-image: url(./Home/images/icons/icon-1.png)"></div>
                <div data-depth="0.40" class="pattern-layer"
                     style="background-image: url(./Home/images/background/pattern-4.png)"></div>
                <div data-depth="0.20" class="pattern-layer-two"
                     style="background-image: url(./Home/images/background/pattern-9.png)"></div>
            </div>
            <!-- Sec Title -->
            <div class="sec-title centered">
                <h2>
                    Read Our Daily Blog to know <br />
                    about insurance
                </h2>
                <div class="text">
                    We are a professional and creative company and we <br />
                    offer you a trusty insurance on your veicle.
                </div>
            </div>

            <div class="row clearfix">
                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="news-detail.html"><img src="images/resource/news-1.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <ul class="post-meta">
                                <li>
                                    <span class="icon flaticon-user"></span>22 OCT, 2021
                                </li>
                            </ul>
                            <h4>
                                <a href="news-detail.html">How to apply on carsore for car insurance ?</a>
                            </h4>
                            <a href="news-detail.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="news-detail.html"><img src="images/resource/news-2.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <ul class="post-meta">
                                <li>
                                    <span class="icon flaticon-user"></span>22 OCT, 2021
                                </li>
                            </ul>
                            <h4>
                                <a href="news-detail.html">How to apply on carsore for car insurance ?</a>
                            </h4>
                            <a href="news-detail.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="news-detail.html"><img src="images/resource/news-3.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <ul class="post-meta">
                                <li>
                                    <span class="icon flaticon-user"></span>22 OCT, 2021
                                </li>
                            </ul>
                            <h4>
                                <a href="news-detail.html">How to apply on carsore for car insurance ?</a>
                            </h4>
                            <a href="news-detail.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="news-detail.html"><img src="images/resource/news-1.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <ul class="post-meta">
                                <li>
                                    <span class="icon flaticon-user"></span>22 OCT, 2021
                                </li>
                            </ul>
                            <h4>
                                <a href="news-detail.html">How to apply on carsore for car insurance ?</a>
                            </h4>
                            <a href="news-detail.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="news-detail.html"><img src="images/resource/news-2.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <ul class="post-meta">
                                <li>
                                    <span class="icon flaticon-user"></span>22 OCT, 2021
                                </li>
                            </ul>
                            <h4>
                                <a href="news-detail.html">How to apply on carsore for car insurance ?</a>
                            </h4>
                            <a href="news-detail.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="news-detail.html"><img src="images/resource/news-3.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <ul class="post-meta">
                                <li>
                                    <span class="icon flaticon-user"></span>22 OCT, 2021
                                </li>
                            </ul>
                            <h4>
                                <a href="news-detail.html">How to apply on carsore for car insurance ?</a>
                            </h4>
                            <a href="news-detail.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="news-detail.html"><img src="images/resource/news-1.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <ul class="post-meta">
                                <li>
                                    <span class="icon flaticon-user"></span>22 OCT, 2021
                                </li>
                            </ul>
                            <h4>
                                <a href="news-detail.html">How to apply on carsore for car insurance ?</a>
                            </h4>
                            <a href="news-detail.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="news-detail.html"><img src="images/resource/news-2.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <ul class="post-meta">
                                <li>
                                    <span class="icon flaticon-user"></span>22 OCT, 2021
                                </li>
                            </ul>
                            <h4>
                                <a href="news-detail.html">How to apply on carsore for car insurance ?</a>
                            </h4>
                            <a href="news-detail.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- News Block -->
                <div class="news-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <a href="news-detail.html"><img src="images/resource/news-3.jpg" alt="" /></a>
                        </div>
                        <div class="lower-content">
                            <ul class="post-meta">
                                <li>
                                    <span class="icon flaticon-user"></span>22 OCT, 2021
                                </li>
                            </ul>
                            <h4>
                                <a href="news-detail.html">How to apply on carsore for car insurance ?</a>
                            </h4>
                            <a href="news-detail.html" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Load Btn -->
            <div class="load-btn text-center">
                <div class="icon">
                    <img src="images/icons/load-icon.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Login Section -->

