
@{
    ViewData["Title"] = "TeamDetail";
}

<!-- Page Title -->
<section class="page-title">
    <div class="background-container">
        <img class="left-image" src="https://themeim.com/demo/carsore/images/background/header-left-bg.png" alt="" />
        <img class="right-image" src="./images/background/4.jpg" alt="" />
    </div>
    <div class="service-container">
        <div class="section-icons-outer parallax-scene-1">
            <div data-depth="0.20" class="pattern-layer" style="background-image: url(./Home/images/background/pattern-8.png)">
            </div>
        </div>

        <div class="auto-container">
            <h1>Team Profile</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">home</a></li>
                <li>Our Teams</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->
<!-- Team Detail Section -->
<section class="team-detail-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image">
                        <img src="images/resource/team-5.jpg" alt="" />
                    </div>
                </div>
            </div>

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <h3>Jenny Hocks</h3>
                    <div class="designation">Manager of Carsore</div>
                    <div class="bold-text">
                        We are a professional and creative company and we offer you
                        a trusty insurance on your veicle.
                    </div>
                    <div class="text">
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a
                        type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with
                        the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software
                        like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                    <a class="btn-style-one theme-btn" asp-controller="Home" asp-action="Contact">
                        <span class="txt">
                            contact me <i class="fa fa-arrow-circle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Detail Section -->
<!-- Team Info Section -->
<section class="team-info-section">
    <div class="auto-container">
        <!-- Upper Box -->
        <div class="upper-box">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Lorem Ipsum is simply dummy text of the</h2>
                </div>
                <div class="pull-right">
                    <div class="text">
                        <p>
                            We are a professional and creative company and offer you a
                            trusty insurance on your veicle. we
                        </p>
                        <p>
                            offer you a trusty insurance on your veicle. has been the
                            industry's standard dummy text ever since.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Upper Box -->
        <!-- Lower Box -->
        <div class="lower-box">
            <div class="row clearfix">
                <!-- Column -->
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <h3>Social Link</h3>
                    <!-- Social Box -->
                    <ul class="social-box">
                        <li>
                            <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                        </li>
                        <li>
                            <a href="https://google.com/" class="fab fa-google"></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" class="fab fa-linkedin-in"></a>
                        </li>
                    </ul>
                </div>
                <!-- Column -->
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <h3>Main Skills</h3>
                    <ul class="team-info-list">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111" viewBox="0 0 16.111 16.111">
                                <path data-name="Path 8769"
                                      d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                      transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                <path data-name="Path 8770"
                                      d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                      transform="translate(-503.037 -273.874)" fill="#4298ee" />
                            </svg>
                            Damage third-party vehicle
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111" viewBox="0 0 16.111 16.111">
                                <path data-name="Path 8769"
                                      d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                      transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                <path data-name="Path 8770"
                                      d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                      transform="translate(-503.037 -273.874)" fill="#4298ee" />
                            </svg>
                            Own Damage by own fault
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111" viewBox="0 0 16.111 16.111">
                                <path data-name="Path 8769"
                                      d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                      transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                <path data-name="Path 8770"
                                      d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                      transform="translate(-503.037 -273.874)" fill="#4298ee" />
                            </svg>
                            Damage due to fire
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111" viewBox="0 0 16.111 16.111">
                                <path data-name="Path 8769"
                                      d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                      transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                <path data-name="Path 8770"
                                      d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                      transform="translate(-503.037 -273.874)" fill="#4298ee" />
                            </svg>
                            Damage third-party vehicle
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111" viewBox="0 0 16.111 16.111">
                                <path data-name="Path 8769"
                                      d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                      transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                <path data-name="Path 8770"
                                      d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                      transform="translate(-503.037 -273.874)" fill="#4298ee" />
                            </svg>
                            Damage third-party vehicle
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111" viewBox="0 0 16.111 16.111">
                                <path data-name="Path 8769"
                                      d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                      transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                <path data-name="Path 8770"
                                      d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                      transform="translate(-503.037 -273.874)" fill="#4298ee" />
                            </svg>
                            Damage third-party vehicle
                        </li>
                    </ul>
                </div>
                <!-- Column -->
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <h3>Values</h3>
                    <ul class="team-info-list">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111" viewBox="0 0 16.111 16.111">
                                <path data-name="Path 8769"
                                      d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                      transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                <path data-name="Path 8770"
                                      d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                      transform="translate(-503.037 -273.874)" fill="#4298ee" />
                            </svg>
                            Damage third-party vehicle
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111" viewBox="0 0 16.111 16.111">
                                <path data-name="Path 8769"
                                      d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                      transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                <path data-name="Path 8770"
                                      d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                      transform="translate(-503.037 -273.874)" fill="#4298ee" />
                            </svg>
                            Own Damage by own fault
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111" viewBox="0 0 16.111 16.111">
                                <path data-name="Path 8769"
                                      d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                      transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                <path data-name="Path 8770"
                                      d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                      transform="translate(-503.037 -273.874)" fill="#4298ee" />
                            </svg>
                            Damage due to fire
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111" viewBox="0 0 16.111 16.111">
                                <path data-name="Path 8769"
                                      d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                      transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                <path data-name="Path 8770"
                                      d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                      transform="translate(-503.037 -273.874)" fill="#4298ee" />
                            </svg>
                            Damage third-party vehicle
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111" viewBox="0 0 16.111 16.111">
                                <path data-name="Path 8769"
                                      d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                      transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                <path data-name="Path 8770"
                                      d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                      transform="translate(-503.037 -273.874)" fill="#4298ee" />
                            </svg>
                            Damage third-party vehicle
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16.111" height="16.111" viewBox="0 0 16.111 16.111">
                                <path data-name="Path 8769"
                                      d="M446.7,210.67a8.055,8.055,0,1,1,8.072-8.023A8.055,8.055,0,0,1,446.7,210.67Zm.01-1.26a6.8,6.8,0,1,0-6.788-6.818A6.8,6.8,0,0,0,446.715,209.409Z"
                                      transform="translate(-438.666 -194.559)" fill="#4298ee" />
                                <path data-name="Path 8770"
                                      d="M509.975,283.24c.173-.2.32-.39.488-.559q1.617-1.626,3.242-3.244a2.16,2.16,0,0,1,.265-.243.65.65,0,0,1,.912.894,1.951,1.951,0,0,1-.24.267q-2.037,2.04-4.077,4.077c-.475.475-.775.476-1.246.006-.641-.64-1.285-1.278-1.92-1.925a.649.649,0,0,1-.116-.81.622.622,0,0,1,.734-.288,1.161,1.161,0,0,1,.4.27C508.923,282.178,509.42,282.683,509.975,283.24Z"
                                      transform="translate(-503.037 -273.874)" fill="#4298ee" />
                            </svg>
                            Damage third-party vehicle
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Info Section -->
<!-- Team Section -->
<section class="team-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">Our Team</div>
            <h2>
                We ensure best insurance services <br />
                for our clients.
            </h2>
        </div>
        <!-- End Sec Title -->
        <div class="inner-container">
            <div class="section-icons-outer parallax-scene-2">
                <div data-depth="0.20" class="icon-layer" style="background-image: url(./Home/images/icons/icon-1.png)"></div>
                <div data-depth="0.40" class="pattern-layer"
                     style="background-image: url(./Home/images/background/pattern-3.png)"></div>
                <div data-depth="0.20" class="pattern-layer-two"
                     style="background-image: url(./Home/images/background/pattern-4.png)"></div>
            </div>
            <div class="team-carousel owl-carousel owl-theme">
                <!-- Team Block -->
                <div class="team-block">
                    <div class="inner-box">
                        <span class="triangle-one"></span>
                        <span class="triangle-two"></span>
                        <div class="image">
                            <!-- Social Box -->
                            <ul class="social-box">
                                <li>
                                    <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="https://google.com/" class="fab fa-google"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="fab fa-linkedin-in"></a>
                                </li>
                            </ul>

                            <img src="images/resource/team-1.jpg" alt="" />
                            <div class="overlay-box">
                                <h3><a asp-controller="Home" asp-action="TeamDetail">Luiz Hector</a></h3>
                                <div class="designation">CEO of Carsore</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block">
                    <div class="inner-box">
                        <span class="triangle-one"></span>
                        <span class="triangle-two"></span>
                        <div class="image">
                            <!-- Social Box -->
                            <ul class="social-box">
                                <li>
                                    <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="https://google.com/" class="fab fa-google"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="fab fa-linkedin-in"></a>
                                </li>
                            </ul>

                            <img src="images/resource/team-2.jpg" alt="" />
                            <div class="overlay-box">
                                <h3><a asp-controller="Home" asp-action="TeamDetail">Luiz Hector</a></h3>
                                <div class="designation">CEO of Carsore</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block">
                    <div class="inner-box">
                        <span class="triangle-one"></span>
                        <span class="triangle-two"></span>
                        <div class="image">
                            <!-- Social Box -->
                            <ul class="social-box">
                                <li>
                                    <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="https://google.com/" class="fab fa-google"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="fab fa-linkedin-in"></a>
                                </li>
                            </ul>

                            <img src="images/resource/team-3.jpg" alt="" />
                            <div class="overlay-box">
                                <h3><a asp-controller="Home" asp-action="TeamDetail">Luiz Hector</a></h3>
                                <div class="designation">CEO of Carsore</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block">
                    <div class="inner-box">
                        <span class="triangle-one"></span>
                        <span class="triangle-two"></span>
                        <div class="image">
                            <!-- Social Box -->
                            <ul class="social-box">
                                <li>
                                    <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="https://google.com/" class="fab fa-google"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" class="fab fa-linkedin-in"></a>
                                </li>
                            </ul>

                            <img src="images/resource/team-4.jpg" alt="" />
                            <div class="overlay-box">
                                <h3><a asp-controller="Home" asp-action="TeamDetail">Luiz Hector</a></h3>
                                <div class="designation">CEO of Carsore</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Section -->

